//font-family
$font: hatolie, serif;

// Colors
$primary: hsl(34, 32%, 81%);
$secondary: hsl(150, 81%, 15%);
$tertiary: hsl(34, 32%, 60%);
$colorDiscount: green;
$colorStroke: grey;
$hoverNav: hsl(24, 100%, 52%);
$btnDeatil: blue;
$btnBuy: tomato;

//font-sizes
$brand-name: calc(0.7rem + 3vw);
$nav-link: calc(0.7rem + 1vw);
$centerLogo: calc(0.7rem + 14vw);
$heading1: calc(0.5rem + 5vw + 3vh);
$heading2: calc(0.7rem + 2vw + 2vh);
$heading3: calc(0.7rem + 1.5vw + 1.5vh);
$body: calc(0.5rem + 0.5vw + 0.5vh);
$year: calc(0.3rem + 7vw);
$description: calc(0.6rem + 0.6vw);
$since: calc(0.7rem + 1.1vw);
//font-weight;
$regular: 400;
$bold: 700;

//paragraph-size
